<div>
<b>Speaker:</b><li>
Alex Liang<br>
<b>Target Audience:</b>  <li>
TSEs and Test Leads<br>
<b>Brief Introduction:</b><li>
Tips of how to write effective defects and how to apply to our testing.
</div>