<div>
<b>Speaker:</b><li>
Bruce Liao,Kun Zhou,Jian Shu Du,Xue Bo Tang,Thomas Chou<br>
<b>Target Audience:</b>  <li>
All<br>
<b>Brief Introduction:</b><li>
(1) Projects and UA DBs enhancements
UA DB enhancement
FMS DB enhancement
Integration of the test case creation tool
How to fix for RTC Sync Failure<li>
(2) GDC DBs enhancements
</div>