<div>
<b>Speaker:</b><li>
Alex Liu<br>
<b>Target Audience:</b>  <li>
TVT Leads and PMs<br>
<b>Brief Introduction:</b><li>
What are the changes of GVT in Continuous Delivery process? And what are the advantages and losses to adopt these changes?
</div>