<% if (!user) { %>
  <div class="hero-unit">
    <h1>GSSC Online Training Platform</h1>
    <p></p>
    <p class="text-center">
      <a class="btn btn-primary btn-large" href="/login">登陆</a>
      <a class="btn btn-large" href="/reg">立即注册</a>
    </p>
  </div>
<% } else { %>
  <%- partial('educationhome') %> 
<% } %>
