


	<form method="post" action="/postIdea" style="text-align:left;">

		<div class="form-group">
		<label for="ideaTitle"><b>标题</b></label>

		<input type="text" class="form-control" name="ideaName" placeholder="请输入标题">

		</div>

		<div class="form-group">

		<label for="ideaDescTitle"><b>描述</b></label>

		<textarea row="10" class="form-control" name="ideaDesc" placeholder="大胆建议吧"></textarea>

		</div>

	  <input type="submit" class="btn btn-primary" value="提交"/>
 </form>
<%- include posts %> 


