<div class="row" >
 
	<div class="span4">
    <p class="text-left"> <i class="icon-calendar"></i><b>V2.0Beta 2014.7</b></p>
    <ul>
    <p class="text-left"><i class="icon-star"></i> 加入用户权限控制 </p>
    <p class="text-left"><i class="icon-star"></i> 记录视频播放次数 </p>
    <p class="text-left"><i class="icon-star"></i> 实现用户在线留言 </p>
    <p class="text-left"><i class="icon-star"></i> 美化界面</p>
    </ul>
    <hr>

    <p class="text-left"> <i class="icon-calendar"></i><b>V1.0 2013</b></p>
    <ul>
    <p class="text-left"><i  class="icon-star"></i> 实现视频在线播放，在线答题 </p>
    </ul>
    <hr>


    </div>